.line-separator{

height:1px;

background:#D5D3D3;

border-bottom:#313030;

}

body {

  background-image: url("http://www.free-spirit.work/static/media/uploads/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}

.drop-shadow {

  box-shadow: 0 0 30px black;

}

.homepage-header{

      font-family: times, Times New Roman, times-roman, georgia, serif;
		font-size: 48px;
	   line-height: 40px;
	   letter-spacing: -1px;
		color: #444;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
      font-weight: 100;
}

.extruded {
    color: #6D4BA0;
    font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif; /* the original site doesn't use the @font-face attribute */
    font-size: 48px;
    font-weight: bold;
    text-shadow: #7D7D7D 1px 1px, #7D7D7D 2px 2px, #7D7D7D 3px 3px;
    position: relative;
    -moz-transition: all 0.3s ease-out; /* FF3.7+ */
       -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
          transition: all 0.3s ease-out;
}

.extruded:hover {
    color: #FFF;
    text-shadow: #58E 1px 1px, #58E 2px 2px, #58E 3px 3px, #58E 4px 4px, #58E 5px 5px, #58E 6px 6px;
    left: -6px;
    top: -6px;
}
